<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
  </head>
  <body>
    <h1>Send Name</h1>
    <form method="post" action="/">
      <input name="name" type="text" />
      <button type="submit">Submit</button>
    </form>

    <div>
      <a href="/about">Go to About page</a>
      <br />
      <a href="/contact">Go to Contact page</a>
    </div>

    <a href="/api/admin">Amin information</a>
  </body>
</html>
